@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');

* {margin: 0; padding: 0;}

a:hover {
	text-decoration: none;
}

.menutop {
	margin-top: 40px;
}

.menutop a {
	margin-right: 30px;
	color: #888888;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-weight: 500;
}

.menutop ul#collapseAccount {
    list-style-type: none;
    position: absolute;
    left: 20%;
    background-color: #eeeeee;
    box-sizing: border-box;
}

.menutop ul#collapseAccount li {
	margin: 5px 0;
}

.menutop ul#collapseAccount li a {
	margin: 15px;
}

.menutop .search, .sidebar .search {
	width: 250px;
	height: 50px;
	border-radius: 0;
	padding: 20px;
	background: url('images/search.png') 215px center no-repeat;
	float: right;
}

.menutop .search::-webkit-input-placeholder, .sidebar .search::-webkit-input-placeholder {
	font-size: 14px;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.sidebar .search {
	float: none;
}

hr {
    margin-top: 25px;
    margin-bottom: 0px;
}

a.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translate(-50px);
    top: 40px;
}

div#navbarTogglerDemo02 {
    justify-content: space-around;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

ul.navbar-nav {
	padding: 15px 0;
}

ul.navbar-nav li {
	position: relative;
}

a.nav-link {
    padding: 0 30px!important;
    margin-bottom: 20px;
}

li.nav-item ul {
    list-style-type: none;
    padding: 10px;
    position: absolute;
    left: 50px;
    width: 200px;
    z-index: 1;
    background-color: white;
}

li.nav-item ul li a {
	color: rgba(0, 0, 0, 0.5);
}

li.nav-item ul li a:hover {
	color: black;
}

li.nav-item ul li {
    padding: 12px 20px;
}

.banner {
	margin-top: -15px;
	margin-bottom: 100px;
}

.caption {
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.caption h5 {
	font-size: 50px;
}

.caption p {
	font-size: 20px;
}

.caption a {
	font-size: 16px;
	padding: 15px 35px;
}

.carousel-control-prev, .carousel-control-next {
	background-color: black;
	width: 30px;
	height: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 8px;
	height: 12px;
}

.carousel-indicators li {
	border-radius: 50%;
	width: 15px;
	height: 15px;
}

/*css cho phan danh muc*/

.danhmuc .motdm {
	position: relative;
	transition: 0.4s;
	overflow: hidden;
}

.danhmuc .motdm:after {
	content: "";
	width: 615px;
	height: 300px;
	display: block;
	background-color: white;
	position: absolute;
	top: 38px;
	left: -115px;
	opacity: 0.5;
	transform: rotate(45deg) translateY(-500px);
	transition: 0.6s;
}

.danhmuc .motdm:hover:after {
	transform: rotate(45deg) translateY(500px);
}

.danhmuc .motdm:hover img {
	opacity: 0.5;
	transform: scale(1);
}

.danhmuc .motdm img {
	transform: scale(1.06);
	transition: 0.4s;
}

.danhmuc .motdm .tendm a {
	position: absolute;
	left: 0;
	bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 20px;
}

.danhmuc .motdm .tendm a:after {
	content: "";
	width: 105%;
	height: 2px;
	display: block;
	background-color: white;
	position: absolute;
	left: 0px;
}

.danhmuc hr {
	margin-top: 100px;
	margin-bottom: 100px;
}
/*css cho phan danh muc*/

/*css cho phan featured product*/
.featured {
	margin-bottom: 100px;
}

section {
	margin-bottom: 50px;
}

section h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 35px;
	text-transform: uppercase;
}

section p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #777777;
	width: 70%;
	margin: auto;
}

section .daugach {
	position: relative;
    width: 67px;
    height: 3px;
    margin: 40px auto;
}

section .daugach:after {
	content: "";
	display: block;
	background-color: black;
	width: 57px;
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
}

section .daugach:before {
	content: "";
	display: block;
	background-color: black;
	width: 57px;
	height: 1px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.featured .motft {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 10px;
}

.featured .motft h3 {
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	top: 50px;
	left: 50px;
}

.featured .motft a {
	font-size: 13px;
	font-weight: 600;
	color: #777777;
	position: absolute;
	top: 85px;
	left: 50px;
}

.pr-5 {
	padding-right: 5px !important;
}

.pl-5 {
	padding-left: 5px !important;
}

/*css cho phan featured product*/

.banner2 {
	margin-bottom: 100px;
}

.banner2 .motslide2 {
	background: url(images/1.jpg) no-repeat center center;
	background-size: cover;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	height: 330px;
	position: relative;
}

.banner2 .motslide2 .ndslide2 {
	width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.banner2 .motslide2 .ndslide2 h3 {
	font-size: 30px;
	font-weight: 600;
}

.banner2 .motslide2 .ndslide2 p {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 6.3px;
	color: #777777;
	margin: 30px 0;
}

.banner2 .motslide2 .ndslide2 a {
	font-size: 13px;
}

.fresh {
	margin-bottom: 100px;
}

.tab {
	text-align: center;
	margin-bottom: 60px;
}

.tab ul li {
    display: inline-block;
  	margin-right: 110px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.tab ul li:last-child {
	margin-right: 0;
}

.tab ul li a.active:after {
	content: "";
	display: block;
	width: 110%;
	height: 2px;
	background-color: black;
	position: absolute;
	left: -5%;
	bottom: -15%;
}

.tab ul li a {
	color: black;
}

.fresh .motsp {
	text-align: center;
	margin-bottom: 50px;
}

.fresh .motsp .sptren {
	position: relative;
	margin: 0;
	overflow: hidden;
}

.fresh .motsp .sptren img {
	width: 370px;
	height: 480px;
	transition: 0.4s;
}

.fresh .motsp:hover .sptren img{
	opacity: 0.2;
	transform: scale(1.05);
}

.fresh .motsp:hover .sptren a {
	top: 50%;
	transform: translate(-50%,-50%);
	opacity: 1;
}

.fresh .motsp .sptren a {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	padding: 10px 20px;
	border-radius: 0;
	font-weight: 600;
	background-color: black;
	color: white;
	transition: 0.6s;
	opacity: 0;
}

.fresh .motsp .sptren a i {
	padding-left: 8px;
}

.fresh .motsp h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 25px;
}

.fresh .motsp div {
	font-family: "Cabin";
	font-size: 15px;
	color: #777777;
	margin-top: 8px;
	margin-bottom: 12px;
}

.fresh .motsp b {
	font-family: "Cabin";
	font-size: 17px;
	font-weight: bold;
}

.fresh hr {
	margin-top: 100px;
}

.viewall {
	width: 100%;
	text-align: center;
}

.viewall a {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	padding: 15px 30px;
	border-radius: 0;
	border: 1px solid black;
	background-color: white;
	color: black;
	font-weight: 600;
}
.viewall a i {
	padding-left: 10px;
}

.news {
	padding-top: 100px;
	padding-bottom: 80px;
	background-color: #FAFAFA;
}

.motnews {
	position: relative;
}

.motnews .topnews {
	width: 100%;
	height: auto;
	position: relative;
}

.motnews .topnews .date {
	font-family: "Open Sans", sans-serif;
	position: absolute;
	top: 30px;
	left: 40px;
	background-color: black;
	color: white;
	width: 60px;
	height: 60px;
	text-align: center;
}

.motnews .topnews .date .day {
	font-size: 25px;
	font-weight: 700;
}

.motnews .topnews .date .month {
	font-size: 18px;
	font-weight: 700;
	margin-top: -8px;
}

.motnews .botnews.tinblog {
	border: none;
	padding: 40px 15px; 
	margin: 0;
}

.motnews .botnews {
	font-family: "Open Sans", sans-serif;
	border: 3px solid #f2f2f2;
	padding: 40px;
	margin: 40px;
	padding-top: 70px;
	margin-top: -40px;
	z-index: 1;
	position: relative;
}

.motnews .botnews h3 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
}

.motnews .botnews p {
	font-size: 15px;
	color: #777777;
	margin-top: 20px;
	margin-bottom: 30px;
}

.motnews .botnews a {
	text-transform: uppercase;
	font-size: 13px;
	color: black;
	font-weight: 600;
}

.subscribe {
	margin: 100px 0;
	font-family: "Open Sans", sans-serif;
}

.subscribe h3 {
	font-size: 30px;
	font-weight: 600;
}

.subscribe p {
	font-size: 17px;
	color: #777777;
	margin-top: 20px;
	margin-bottom: 25px;
}

.subscribe .form-inline {
	justify-content: center;
}

.subscribe .form-inline a {
	font-size: 13px;
	width: 162px;
	height: 50px;
	line-height: 37px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 0;
	background-color: black;
	border-color: black;
	border-left: none;
	transition: 0.4s;
}

.subscribe .form-inline a:hover {
	color: black;
	background-color: white;
}

.subscribe .form-inline input {
	width: 65%;
	height: 50px;
	border-radius: 0;
	border-color: black;
	padding: 0 30px;
}

.subscribe .form-inline input::-webkit-input-placeholder {
	color: #aeaeae;
	font-size: 14px;
	font-style: italic;
}

.contact form {
	padding-bottom: 100px;
}

.contact form label {
	text-transform: uppercase;
	color: #888888;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
}

.contact form button {
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 13px;
	height: 50px;
}

aside {
	border: 1px solid #ededed;
	font-family: "Open Sans", sans-serif;
	padding-bottom: 20px;
	margin-top: 40px;
}

aside h3 {
	height: 56px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	line-height: 56px;
}

aside p {
	font-size: 15px;
	color: #777777;
	padding: 15px 20px;
}

aside a {
	color: black;
	padding: 0 20px;
}

aside a:hover {
	color: black;
}

aside .pkhoi {
	margin: 35px 20px;
	overflow: hidden;
}

aside .pkhoi .pleft {
	width: 70px;
	height: 70px;
	float: left;
}

aside .pkhoi .pright {
	width: 140px;
	float: right;
}

aside .pkhoi .pright a {
	color: #777777;
	font-size: 13px;
	padding: 0;
}

aside .pkhoi .pright .ngaythang {
	font-size: 13px;
	font-weight: 600;
}

footer {
	background-color: #111111;
	padding: 100px 0;
}

footer h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	margin-bottom: 40px;
}

footer ul li {
	list-style-type: none;
	line-height: .7;
	margin-bottom: 17px;
}

footer ul li a {
	color: #989898;
	font-size: 15px;
	font-weight: 600;
}

footer ul li a:hover {
	color: white;
}

footer .social, footer .payment {
	margin: 38px 0;
}

footer .social a {
	padding: 0 15px;
	margin: 0 4px;
	color: #989898;
	border: 1px solid #989898;
	border-radius: 50%;
	width: 46px;
	height: 46px;
	display: inline-block;
	line-height: 44px;
	text-align: center;
	transition: 0.4s;
}

footer .social a:hover {
	color: white;
	border-color: white;
}

footer .payment a {
	font-size: 35px;
	margin: 0 10px;
	color: #989898;
	display: inline-block;
	line-height: 46px;
	text-align: center;
	transition: 0.4s;
}

footer .payment a:hover {
	color: white;
}

footer .copyright {
	font-size: 14px;
	font-weight: 600;
	color: #989898;
}

footer .map {
	width: 100%;
}

footer .map .textmap {
	font-size: 15px;
	font-weight: 600;
	color: #989898;
	font-family: "Open Sans", sans-serif;
}


@media (max-width: 576px) {
	*{}

	button.navbar-toggler {
	    margin-bottom: 20px;
	}
	
	.menutop .row {
		text-align: center;
	}

	.menutop .search {
		float: none;
		margin: 10px auto;
	}

	.col-md-6.mt-2 a {
	    margin: 10px;
	}

	a.navbar-brand {
	    top: 0px;
	}

	ul.navbar-nav {
	    text-align: center;
	    display: block;
	}

	ul.navbar-nav li.nav-item:hover ul {
		position: initial;
    	margin: auto;
    	background-color: #eeeeee;
	}

	.featured section p {
		width: 100%;
	}
	
	.motnews .topnews {
		height: auto;
	}

	.motnews .botnews {
		margin: 0;
		padding-top: 40px;
		margin-top: -20px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {

	.menutop .row {
		text-align: center;
	}

	.menutop .search {
		float: none;
		margin: 10px auto;
	}

	.col-md-6.mt-2 a {
	    margin: 10px;
	}

	a.navbar-brand {
	    top: 0px;
	}

	ul.navbar-nav {
	    text-align: center;
	    display: block;
	}

	ul.navbar-nav li.nav-item:hover ul {
		position: initial;
    	margin: auto;
    	background-color: #eeeeee;
	}


	.featured section p {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.menutop a {
		margin: 0 10px;
	}

	ul.navbar-nav {
	    text-align: center;
	    display: block;
	}

	ul.navbar-nav li.nav-item:hover ul {
		position: initial;
    	margin: auto;
    	background-color: #eeeeee;
	}	
}